* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #34333f;
  &__nav {
    display: flex;
    align-items: center;
    vertical-align: text-bottom;
    padding-left: 7rem;
  }
  &__logo-image {
    padding: 0rem 2rem;
  }
  &__list {
    display: flex;
    list-style: none;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0rem 2rem;
      &:hover {
        color: #cabdff;
        text-decoration: underline;
      }
    }
    &-text {
      color: #cabdff;
      line-height: 4.5rem;
      text-decoration: none;
    }
  }
}
